<h1>林航平</h1>
<div>
	<div class ="gazou">
		<%= image_tag 'cat.jpg', :class => "cat" %>
	</div>
</div>

<h2>
<%= link_to "新規投稿ページ", "/articles/new" %>
</h2>

<h4>投稿一覧（新規順）</h4>
<% @articles.reverse.each do |article| %>

	<%= link_to article.title, "/articles/#{article.id}" %>

<% end %>